.gif1{
    width: 150px;
    height: 75px;
}

.hover1{
    font-size: 15px;
}

.hover1:hover{
    background-color: primary;
    color: white;
    padding-left: 20px;
    font-size: 15px;
    border: 2px;
}

.hover2:hover{
    background-color: primary;
    padding-left: 20px;
    font-size: 15px;
}

#blog1{
    background-color: orangered;
}